.header {
  background-color: #e7eff6;
  width: 100%;
  padding: 1.2rem 3.5rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #ff6600;
}

.headerIcons {
  display: flex;
  align-items: center !important;
  gap: 15px;
}

.userBtn,
.bagBtn {
  margin: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.userBtn:hover,
.bagBtn:hover {
  background: #e6e6e6 !important;
}

.userBtn {
  font-size: 20px;
  background-color: #a8c6e0 !important;
}

.bagBtn {
  font-size: 20px;
  background-color: white !important;
  border: 2px solid #a8c6e0 !important;
  color: #a8c6e0 !important;
}
